{{~topic-link topic class="raw-link raw-topic-link"}}
<div class="custom-topic-details">
  <div>{{topic.tags[0]}}</div>
</div>
<div class="custom-topic-meta">
  {{topic.post_count}}
  {{topic.views}}
  {{~format-date topic.createdAt format="medium" noTitle="true"~}}
</div>
